@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Raleway:wght@200;400&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;



html,
body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;

}
.home-bg {
    /* background-image: url(/src/assets/RPG\ MAKER\ WEB\ BACKGROUND\ 4.png); */
    background-image: url(/src/assets/RPG\ MAKER\ WEB\ BACKGROUND\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto; */

}



.active {
    @apply bg-green-400 bg-opacity-50;
   
}


/* Typewriter effect */

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}









/* Laptop responsive */

@media (min-width: 1280px) {

    html,
body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    
    
}

    .grid { 
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        
        


    }

    .block-1 {
        grid-row: span 80 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-top: 10px;
        margin-left: 10px;
    }

    .block-2 {
        grid-row: span 30 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-top: 10px;
    }

    .block-3 {
        grid-row: span 15 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
    }


    .block-4 {
        grid-row: span 15 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-top: 10px;
        margin-right: 10px;
    }

    .block-5 {
        grid-row: span 90 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-left: 10px;
    }

    .block-6 {
        grid-column: span 2 / auto;
        grid-row: span 70 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
    }

    .block-7 {
        grid-column: span 2 / auto;
        grid-row: span 70 / auto;
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
    }

    /* 

div:hover:after {
    background:rgba(255, 0, 0, 0.5);
   
} 

 */

}



/* Ipad responsive */

@media screen and (max-width: 1279px) and (min-width: 800px){

    html,
body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    
    
}

    body {
        /* background-image: url(/src/assets/RPG\ MAKER\ WEB\ BACKGROUND\ 4.png); */
        background-image: url(/src/assets/fondodiap1.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        /* height: auto; */

    }

    .grid {
        grid-gap: 6px;


    }

    .block-1 {
        background: rgba(0, 0, 0, 0.466);
        margin-top: 10px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .block-2 {
        /* grid-row: span 10 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        grid-column: 2;
        grid-row: 3 / 4;
    }

    .block-3 {
        /* grid-row: span 10 / auto;
        grid-column: span 90 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        grid-column: 2;
        grid-row: 2;

    }

    .block-4 {
        /* grid-row: span 10 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-top: 10px;
        margin-right: 10px;
        grid-column: 2;
        grid-row: 1;
    }

    .block-5 {
        /* grid-row: span 90 / auto;
        grid-column: span 90 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-left: 10px;
        grid-column: 1;
        grid-row: 4;
    }

    .block-6 {
        /* grid-column: span 10 / auto;
        grid-row: span 60 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        grid-column: 2;
        grid-row: 4;
    }

    .block-7 {
        /* grid-column: span 10 / auto;
        grid-row: span 60 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 1/3;
        grid-row: 5;
    }

}


/* Mobile responsive */

@media (max-width: 800px) {

    html,
    body {
        height: 100%;
        font-family: 'Press Start 2P', cursive;
        
        
    }

    body {
        /* background-image: url(/src/assets/RPG\ MAKER\ WEB\ BACKGROUND\ 4.png); */
        background-image: url(/src/assets/fondodiap1.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        /* height: auto; */

    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6px;
    }

    .block-1 {
        /* grid-row: span 50 / auto;
        grid-column: span 10 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 1;
        grid-row: 1;
    }

    .block-2 {
        /* grid-row: span 10 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 3;
    }

    .block-3 {
        /* grid-row: span 10 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 2;
    }


    .block-4 {
        /* grid-row: span 10 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 7;
    }

    .block-5 {
        /* grid-row: span 60 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-left: 10px;
        margin-right: 10px;
        grid-column: 1;
        grid-row: 6;
    }

    .block-6 {
        /* grid-column: span 10 / auto;
        grid-row: span 60 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 4;
    }


    .block-7 {
        /* grid-column: span 10 / auto;
        grid-row: span 60 / auto; */
        background: rgba(0, 0, 0, 0.466);
        margin-right: 10px;
        margin-left: 10px;
        grid-column: 1;
        grid-row: 5;
    }

}



/* GAMEOVER SCREEN */
.gameover-bg {
    color: #fff;
	background: #000;

}

.go-text-container {
    transform: scale(0.94);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  .text-game {
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 5.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 5.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
/*   
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
   */
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }